@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Learn about <a>Halısaha Oyuncu ve Takım Listelerimiz Bu Sitede Yayınlanmaktadır</a>.</p>
</div>
